.header-container{
    max-width: 100%;
    background-color: #1C2B35;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    justify-items: center;
}
.menu-link{
    margin-top: 10px;
}
.menu-link a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 17px;
    
}